<?xml version="1.0" encoding="UTF-8"?>
<config>
	<template type="action">default-template.svg</template>
	<template type="action-victory">action-victory-template.svg</template>
	<template type="basic-treasure">basic-treasure-template.svg</template>
	<template type="basic-victory">basic-victory-template.svg</template>
	<template type="duration">duration-template.svg</template>
	<template type="reaction">reaction-template.svg</template>
	<template type="treasure">treasure-template.svg</template>
	<template type="treasure-reaction">treasure-reaction-template.svg</template>
	<template type="treasure-victory">treasure-victory-template.svg</template>
	<template type="victory">victory-template.svg</template>
	<template type="victory-reaction">victory-reaction-template.svg</template>
	<maxTextWidth>160</maxTextWidth>
	<coinImage>coin_inline.svg</coinImage>
	<victoryPointImage>victoryPoint_inline.svg</victoryPointImage></config>
